<section class="custom-section">
  <div class="container">
    <ul class="custom__list">
      <li class="custom__item">
        <button class="custom__control btn-reset" aria-expanded="false">
          <span class="custom__title">Akkordeon 1</span>
          <span class="custom__icon"></span>
        </button>
        <div class="custom__content" aria-hidden="true">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam
          nihil, modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
        </div>
      </li>
      <li class="custom__item">
        <button class="custom__control btn-reset" aria-expanded="false">
          <span class="custom__title">Akkordeon 2</span>
          <span class="custom__icon"></span>
        </button>
        <div class="custom__content" aria-hidden="true">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam
          nihil, modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
        </div>
      </li>
    </ul>
  </div>
</section>