<section class="details">
  <div class="container">
    <details class="details">
      <summary class="details__control">
        <h3 class="details__title">Akkordeon 1</h3>
        <span class="details__icon"></span>
      </summary>
      <div class="details__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam nihil, modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
      </div>
    </details>
    <details class="details">
      <summary class="details__control">
        <h3 class="details__title">Akkordeon 2</h3>
        <span class="details__icon"></span>
      </summary>
      <div class="details__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam nihil,
        modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
      </div>
    </details>
  </div>
</section>
